nav {
    background: $secondary-color;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    ul {
        list-style: none;
        display: flex;
        padding-top: 13px;
    }

    li {
        margin-left: 23px;
    }

    a {
        font-size: 25px;
        text-transform: uppercase;
        color: $grey;

        &:hover {
            text-decoration: none;
        }
        &.active {
            color: $pink !important;
        }
    }

    
}
